*{
    margin: 0%;
    padding: 0%;
    background-color: blueviolet;
}

.container{
    margin: auto;
    margin-top: 60px;
    align-content: center;
    background-color: black;
    display: flex;
    max-width: fit-content;
    flex-direction: row;
    border: 3px solid cyan;
    border-radius: 20px;
}

.main{
    display: flex;
    flex-direction: column;
}

#h1{
    font-family: 'Pacifico', cursive;
    color: lavenderblush;
    background-color: black;
    margin: auto;
    font-size: xxx-large;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    position: sticky;
}

.time{
    padding: 40px;
    padding-bottom: 20px;
    background-color: black;
    align-content: center;
    font-size: xx-large;
    color:purple;
    border-radius: 20px;
}

#minutes_val {
    padding-bottom: 40px;
    padding-top: 10px;
    color: yellow;
}
#hour_val {
    padding-bottom: 40px;
    padding-top: 10px;
    color: yellow;
}

#today_val,
#second_val {
    padding-bottom: 40px;
    padding-top: 10px;
    color: yellow;
}

#today_text{
    padding-bottom: 40px;
    padding-top: 10px;
}